:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(to bottom, #2e3b4e, #1f2833); /* Darker gradient for background */
  background-size: cover;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;

}


.container {
  width: 40%;
  transition: width 0.5s ease;
}

.expand-btn {
  background: linear-gradient(145deg, #4a6572, #2f3d4a);
  padding: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
}

.expand-btn:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); /* Darker shadow on hover */
}

.weather-card {
  background: linear-gradient(145deg, #4a6572, #2f3d4a); /* Darker slate-blue for card background */
  border-radius: 15px;
  padding: 30px;
  /*transition: all 0.5s ease;*/
  height: 100%;

}

/*.weather-card:hover {*/
/*  transform: translateY(-10px) scale(1.02);*/
/*}*/

.temp {
  font-size: 40px;
}

.humadity-text, .wind-text , .dtails {
  font-size: 18px;
}

.weather-icon img {
  width: 100px;
  margin-bottom: 10px;
  animation: fadeIn 1s ease;
}

.weather-card svg {
  margin-top: 10px;
  margin-bottom: 10px;
  /*background-color: lightskyblue;*/
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 20px;
}

.date-number {
  font-size: 40px;
  text-align: center;
}

.chart-title {
  font-weight: bold;
}


#chart {
  width: 100%;
  height: 300px;
}

#chart svg {
  width: 100%;
  height: 100%;
}


.temperature-toggle {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.toggle-btn {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #c2ac7a;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.toggle-btn::before {
  content: attr(data-unit);
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #333;
}

.toggle-btn:hover {
  background-color: #c2ac7a;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.toggle-btn.selected {
  background-color: green;
  color: white;
  border-color: green;
  box-shadow: 0px 4px 8px rgba(0, 128, 0, 0.3);
}

.toggle-btn.selected:hover {
  background-color: darkgreen;
}

.toggle-btn.selected::before {
  color: white;
}
.card-container{
  padding:3px;
}

.wind-speed{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.favorite-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.favorite-btn svg {
  transition: stroke 0.3s ease-in-out;
}

.favorite-btn.saved svg {
  fill: white;
  stroke: white;
}

.favorite-btn svg:hover {
  stroke: #ffcc00;
}

.favorite-btn svg.filled {
  fill: white;
  stroke: white;
}

.favorite-btn svg:hover {
  stroke: #ffcc00;
}



@media screen and (max-width: 768px) {
.expand-btn{
  display: none;
}

  .humadity-text , .wind-text  {
    font-size: 12px ;
  }

  .card-container{
    padding: 2px;
  }

  .weather-icon img {
    width: 60px;
  }
}
