:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(to bottom, #c2ac7a, #122f47); /* Sky blue gradient */
  background-size: cover;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.container {
  width: 35% ;
}


.weather-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
  max-width: 700px;
  margin: auto;
  transition: all 0.5s ease;
}

.weather-app-header h1 {
  margin-bottom: 30px;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.location-input {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
}

.location-input input {
  padding: 15px 20px;
  border: 2px solid #444;
  border-radius: 10px 0 0 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  flex-grow: 1;
  transition: background-color 0.3s ease;
}

.location-input button {
  padding: 15px 30px;
  color: #000;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.weather-summary {
  margin-top: 40px;
  text-align: center;
}

/* Layout correction for row and wrapping */
.d-flex.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-container {
  transition: transform 0.3s ease; /* Smooth transition for moving cards */
}

.moving {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.weather-card {
  background: linear-gradient(145deg, #3a7bd5, #3a6073);
  border-radius: 15px;
  padding: 30px;
  transition: all 0.5s ease;
  height: 100%;

}

.weather-card:hover {
  transform: translateY(-10px) scale(1.02);
}

.weather-card.dragging {
  opacity: 0.5;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  cursor: move;
}

/* Ensures smooth transition for the other cards during drag */
.card-container.moving {
  transform: translate(0, 0); /* Move cards smoothly during drag */
}


.weather-icon img {
  width: 100px;
  margin-bottom: 10px;
  animation: fadeIn 1s ease;
}

.weather-info h3 {
  font-size: 64px;
  margin: 20px 0;
}

.weather-info p {
  margin: 8px 0;
  font-size: 20px;
  opacity: 0.9;
}

.humadity-text , .wind-text  {
  font-size: 16px ;
}
.temp {
  font-size: 40px;
}



.temperature-toggle {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.toggle-btn {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  font-size: 14px;
  border: 1px solid #c2ac7a;
}

.toggle-btn.selected {
  background-color: green;
}

.weather-card svg {
  margin-top: 20px;
  margin-bottom: 20px;
  /*background-color: lightskyblue;*/
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 20px;
}


.favorite-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.favorite-btn svg {
  transition: stroke 0.3s ease-in-out;
}

.favorite-btn.saved svg {
  fill: white;
  stroke: white;
}

.favorite-btn svg:hover {
  stroke: #ffcc00;
}

.favorite-btn svg.filled {
  fill: white;
  stroke: white;
}

.favorite-btn svg:hover {
  stroke: #ffcc00;
}



.date-number {
  font-size: 50px;

text-align: center;
}

.card-container{
  padding:3px;
}

.wind-speed{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {


  .humadity-text , .wind-text  {
    font-size: 12px ;
  }

  .card-container{
    padding: 2px;
  }

  .weather-card{
  margin-bottom: 0;
  }

}

